{% extends 'base.html.twig' %}

{% block title %} BouWatch Parts{% endblock %}
{% block body %} 
    <h1 class='mt-5'>Parts</h1>
    {% if parts %}
        <table class="table table-striped mt-5">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for part in parts%}
                    <tr>
                        <td>{{part.id}}</td>
                        <td>{{part.name}}</td>
                        <td>{{part.price}}</td>
                        <td><a href="/parts/remove/{{ part.id }}" class="btn btn-danger">Remove</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        
    
    {% else %}
        <p class='mt-5 text-danger'>No Parts present</p>
    {% endif %}
    <a href="/part/new" class="btn btn-primary">Create new part</a>
{% endblock %}


